<!DOCTYPE html>
<html>
<head>
    <title>Search Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
        <hr>
    <h1>Get specific comic from database by entering its ID in the URL</h1>
    <!-- <h1>Enter Comic ID at the end of URL before leaving page!</h1>
    <p>(Relative pathing is currently standing in the way of being able to leave page without screwing up pathing scheme)</p> -->
    <br>
   
      
        <hr>
    <table class="table table-striped">

         <tr>
                
                <th>Name</th>
                <th>Password</th> 
                <th>Email</th>  
                <th>Subscribed</th>
                <th>Role</th>
                <th>Paymentinfo</th>
              
            </tr>

        @foreach(var stud in @ViewBag.stud)        
        {
            if(stud.StudentId == @ViewBag.number){
                <tr>
                    
                    <td> @stud.Name</td>
                    <td> @stud.Password </td> 
                    <td> @stud.Email</td>
                    <td> @stud.Subscribed </td> 
                    <td> @stud.Role</td>
                    <td> @stud.Paymentinfo </td> 
                </tr>
            }
        }
    </table>
    
    
    </div>
</body>
</html>